@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: radial-gradient(circle at top left, #111 0%, #0b0b0b 100%);
}
html, body, #root {
height: 100%;
}


body {
@apply bg-bg text-white antialiased;
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}


/* small utilities */
.card {
@apply bg-panel rounded-2xl border border-gray-800 p-4;
}